.top-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
  
}
.scroll-progress-tracking-container{
    width: 100%;
    height: 10px;
    background-color: #aaf900;
    position: absolute;
    top: 79.4px;
}
.current-prgress-bar{
    height: 10px;
    background: #8b02b5;
}
.data-container{
    margin: 100px 0;
}